@font-face {
    font-family: 'Auromiya';
    src: url('../fonts/auromiya.ttf') format('opentype');
    /* Cambia a format('opentype') */
    font-weight: normal;
    font-style: normal;
}


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.navbar {
    background-color: #a51916;
    ;
}


.nav-link {
    color: white !important
}

.logo {
    width: 140px;
    margin-left: 100px;
}








/*TITULO*/
.div-titulo-unique {
    position: relative;
    /* Necesario para que los párrafos se posicionen sobre la imagen */
    width: 100%;
    height: 100vh;
    /* Hace que el contenedor ocupe toda la altura de la ventana */
    overflow: hidden;
    display: flex;
    align-items: center;
    /* Centra verticalmente el contenido dentro del contenedor */
    justify-content: center;
    /* Centra horizontalmente el contenido */
}

.titulo-unique {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* La imagen cubre el contenedor */
    position: absolute;
    /* La imagen se coloca detrás del contenido */
    top: 0;
    left: 0;
    z-index: -1;
    /* La imagen queda por detrás de los textos */
}

.content-overlay {
    color: white;
    /* Color del texto para que contraste con la imagen */
    z-index: 1;
    /* Asegura que los párrafos estén sobre la imagen */
    padding: 20px;
    /* Espaciado interno para los párrafos */
    max-width: 1100px;
    /* Controla el ancho máximo del bloque de texto */
    margin-top: 300px;
}

.p-subtitulo {
    font-size: 22px;
    font-weight: bold;
}

@media (max-width: 850px) {
    .content-overlay {
        font-size: 0.9em;
        /* Ajusta el tamaño de texto en pantallas pequeñas */
        padding: 15px;
        /* Ajusta el padding en pantallas más pequeñas */
    }
}








/*Circulos */
.circle-section {
    background-image: url(../images/fondo-circulos.png);
    height: 110vh;
    background-size: cover;
    /* Asegura que la imagen cubra todo el contenedor */
    background-position: center;
    /* Centra la imagen en el contenedor */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-color: #ac9664;

    position: relative;
    z-index: 1;
}

.contenido-circulos {
    margin-top: 6rem;
}

.p-circulos {
    color: white;
    /* Color del texto */
    font-size: 1rem;
    /* Tamaño de fuente ajustado */
    width: 800px;
    /* Ancho específico */
    text-align: center;
    /* Centra el texto dentro de los párrafos */
    margin: 0;
    /* Elimina márgenes para una mejor alineación */
}

/* Asegúrate de que el contenedor tenga un tamaño adecuado */
.d-flex {
    width: 100%;
    /* Para que ocupe todo el ancho disponible */
}

/* Opcional: Agregar algo de espacio entre los párrafos */
.p-circulos+.p-circulos {
    margin-top: 10px;
    /* Espacio entre los párrafos */
}

.titulo-imperdibles {
    font-family: 'Auromiya', sans-serif !important;
    /* Asegúrate de escribirlo igual */
    color: white;
}

.row {
    display: flex;
    /* Usar flexbox para el contenedor de la fila */
    justify-content: center;
    /* Centra los elementos */
    flex-wrap: wrap;
    /* Permite que los elementos se muevan a la siguiente fila si no hay espacio */
}

.circle {
    width: 80%;
    /* Hacemos que el círculo ocupe todo el ancho disponible */
    aspect-ratio: 1;
    /* Mantiene la relación de aspecto 1:1 */
    border-radius: 50%;
    /* Hace que el div sea un círculo */
    overflow: hidden;
    /* Oculta cualquier parte de la imagen que sobresalga */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* Establece el contexto para el posicionamiento absoluto del texto */
    transition: transform 0.5s ease, background-color 0.5s ease;
    /* Transiciones para rotación y color */
    background-color: transparent;
    /* Color de fondo inicial */
    margin: 2px;
}

.circle img {
    height: 100%;
    object-fit: cover;
    /* Ajusta la imagen para cubrir el círculo sin deformarse */
    transition: opacity 0.5s ease;
    /* Transición suave para la opacidad */
}


.circle-description {
    display: none;
    /* Oculta el párrafo por defecto */
    position: absolute;
    width: 55%;
    /* Aumenta el ancho del texto para que ocupe más espacio horizontalmente */
    left: 50%;
    transform: translateX(-50%) rotateY(180deg);
    /* Revertir la rotación para mantener la orientación */
    color: white;
    /* Color del texto */
    text-align: center;
    z-index: 1;
    /* Asegura que el texto esté por encima de la imagen */
    font-size: 12px;
    margin: 0;
    line-height: 1.4;
    /* Ajusta la separación entre líneas */
}

.circle:hover {
    background-color: #b5945a;
    /* Cambia el color de fondo al pasar el mouse */
    transform: rotateY(180deg);
    /* Rota el círculo al pasar el mouse */
}

.circle:hover img {
    opacity: 0;
    /* Oculta la imagen al pasar el mouse */
}

.circle:hover .circle-text {
    display: none;
    /* Oculta el texto principal al pasar el mouse */
}

.circle:hover .circle-description {
    display: block;
    /* Muestra el párrafo al pasar el mouse */
    transform: translateX(-50%) rotateY(180deg);
    /* Mantiene la orientación correcta al mostrar */
}





/* Estilo para la sección del mapa */

.map-section {
    padding: 30px 0;
    background-color: #ffffff;
    height: 100vh;
    /* Hace que el contenedor ocupe toda la altura de la ventana */
    display: flex;
    /* Activamos Flexbox */
    align-items: center;
    /* Centra verticalmente el contenido */
    justify-content: center;
    /* Centra horizontalmente el contenido */
}

/* Ajustes del contenedor del mapa */
.map-container {
    width: 100%;
    height: 300px;
    /* Puedes ajustar la altura según tus necesidades */
    border: 2px solid #ccc;
    border-radius: 10px;
}

/* Caja de información a la derecha */
.info-box {
    padding: 20px;
}

.p-mapa {
    font-size: 18px;
    color: #a51916;

}

/* Asegura que el mapa y la caja de info tengan buen espaciado en pantallas pequeñas */
@media (max-width: 768px) {
    .map-container {
        height: 200px;
        /* Reduce la altura en pantallas más pequeñas */
    }
}







/*historia*/
.historia-section-unique {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    /* Color de fondo para la sección */
}

.historia-image-unique img {
    width: 100%;
    height: 70vh;
    /* Ajusta según el tamaño que necesites */
    object-fit: cover;
    display: block;
    margin: 0 auto;
}


/* Contenedor para las cards, que controla el margen superior */
.historia-cards-container-unique {
    position: relative;
    top: -150px;
    /* Ajusta la superposición de las cards sobre la imagen */
    z-index: 2;
    /* Hace que las cards estén encima de la imagen */
    display: flex;
    justify-content: center;
    /* Centra horizontalmente las cards */
    align-items: center;
    /* Centra verticalmente las cards dentro de su contenedor */
}

/* Estilos de las cards */
.historia-cards-unique {
    display: flex;
    justify-content: center;
    gap: 160px;

}

.card-unique {
    background-color: #b5945a;
    /* Color de fondo de la card */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.historia-titulo {
    font-family: 'Auromiya', sans-serif !important;
    /* Asegúrate de escribirlo igual */
    color: white;
}

.text-card-historia {
    color: white;
    font-size: 16px;
}


/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .historia-cards-unique {
        flex-direction: column;
        width: 90%;
    }

    .card-unique {
        max-width: 100%;
        margin-bottom: 10px;
    }
}

@media (min-width: 769px) {
    .text-p-card {
        margin-top: 43px;
        /* Ajusta este valor según lo que necesites */
        /* O puedes usar padding en lugar de margin, dependiendo de tu diseño */
        /* padding-top: 20px; */
    }
}



/* CARDS */
.seccion-card {
    padding-top: 3rem;
    /* Espaciado superior */
    padding-bottom: 3rem;
    /* Espaciado inferior */
}

/* Imagen del Santo */
.img-santo {
    height: 600px;
    /* Altura fija para la imagen del santo */
    object-fit: cover;
    /* Mantiene la relación de aspecto */
}

/* Imágenes de la segunda fila (Mercado de San Telmo y Escudo San Telmo) */
.img-doble {
    width: 100%;
    /* Asegura que ambas imágenes ocupen el ancho completo de su columna */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
}

/* Imagen de la cuarta fila (Equipo San Telmo) */
.img-abajo {
    width: 100%;
    /* Asegura que ocupe el ancho completo de su columna */
    height: auto;
    /* Mantiene la relación de aspecto */
    border-radius: 0.5rem;
    /* Bordes redondeados */
}

/* Espaciado entre las imágenes */
.row>div {
    padding: 0.5rem;
    /* Espaciado entre imágenes */
}

/* Alineación y flexbox para la cuarta imagen */
.col-md-8 {
    display: flex;
    justify-content: center;
    /* Centra la cuarta imagen horizontalmente */
}


/* Sección de texto y foto */

.text-image-section {
    background-color: #a51916;
    height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
}

.arquitectura-titulo {
    font-family: 'Auromiya', sans-serif !important;
    /* Asegúrate de escribirlo igual */
    color: white;
}

.p-arquitectura {
    color: white;
}



/*SECCION ARTE*/
.arte {
    background-image: url(../images/CECI.png);
    height: 290vh;
    background-size: contain;
    /* Ajusta la imagen para que se contenga dentro del área */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    position: relative;
    top: -125px;
    z-index: 2;
}

.card-arte {
    padding-top: 7rem;
}

.arte-contenido {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    /* Asegura que todos los elementos hijos tengan la misma altura */
}

.contenido-imagen img {
    width: 100%;
    /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: 100%;
    /* Mantiene la proporción de la imagen */
    border-radius: 20px;
    /* Opcional: añade bordes redondeados a las imágenes */
}

.texto-card {
    background-color: rgba(255, 255, 255, 0.11);
    padding: 2rem;
    border-radius: 20px;
    width: 100%;
}

.p-card-arte {
    font-size: 10px;
}



/* Carrousel */
.carrousel {
    padding-top: 25rem;
    /* Espacio superior */
}

.carousel-item {
    display: flex;
    /* Alinea las imágenes en una sola fila */
    justify-content: center;
    /* Centra las imágenes dentro del carrusel */
}

.carousel-item img {
    width: 250px;
}

.image-container {
    display: flex;
    flex-direction: column;
    /* Organiza las imágenes y el texto en columnas */
    align-items: center;
    /* Centra horizontalmente la imagen y los textos */
    text-align: center;
    /* Centra el texto debajo de la imagen */
    padding: 0 4px 0 4px;
}

.texto-carrousel{
    background-color: white;
    width: 100%;
}
.title,
.subtitle {
    margin: 5px 0;
    /* Añade un margen vertical entre el título y el subtítulo */
}

.title {
    font-size: 1rem;
    /* Tamaño de fuente ajustado para el título */
    font-weight: bold;
    /* Hace que el título sea negrita */
}

.subtitle {
    font-size: 0.875rem;
    /* Tamaño de fuente más pequeño para el subtítulo */
    color: #666;
    /* Cambia el color del subtítulo para diferenciarlo del título */
}











/* Estilo del footer */
.footer {
    background-color: #a51916;
    ;
    /* Color de fondo */
    color: white;
    /* Color del texto */
}

.footer .left-footer {
    text-align: left;
    /* Alineación del texto a la izquierda */
}

.footer .right-footer {
    display: flex;
    /* Usamos flex para alinear los iconos */
    gap: 15px;
    /* Espacio entre los iconos */
    font-size: 24px;
    /* Tamaño de los íconos */
}

.social-icon:hover {
    color: #fff;
    /* Mantiene el color blanco al hacer hover */
    transform: scale(1.1);
    /* Aumentar el tamaño de los iconos al pasar el mouse */
    transition: transform 0.3s;
    /* Efecto de hover suave */
}