@font-face {
    font-family: 'Auromiya';
    src: url('../fonts/auromiya.ttf') format('opentype');
    /* Cambia a format('opentype') */
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #a51916;
    position: fixed;
    width: 100%; 
    z-index: 1000; 
}

.nav-link {
    color: white !important;
}

.logo {
    width: 140px;
    margin-left: 100px;
}

.div-titulo-unique {
    margin-top: 80px; 
}

.div-titulo-unique {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-unique {
    width: 100%;
    height: auto;
    object-fit: cover; 
    position: absolute; 
    top: 0;
    left: 0;
    z-index: -1;
}

.content-overlay {
    color: white; 
    z-index: 1; 
    padding: 20px; 
    max-width: 1100px; 
    margin-top: 300px; 
}

.p-subtitulo {
    font-size: 22px;
    font-weight: bold;
}

@media (max-width: 850px) {
    .content-overlay {
        font-size: 0.9em; 
        padding: 15px; 
    }
}

/*Circulos */
.circle-section {
    background-image: url(../images/fondo-circulos.png);
    height: 110vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ac9664;
    position: relative;
    z-index: 1;
}

.contenido-circulos {
    margin-top: 6rem;
}

.p-circulos {
    color: white;
    font-size: 1rem;
    width: 800px;
    text-align: center;
    margin: 0;
    font-weight: bold;
}

.d-flex {
    width: 100%;
}

.p-circulos+.p-circulos {
    margin-top: 10px;
}

.titulo-imperdibles {
    font-family: 'Auromiya', sans-serif !important;
    color: white;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.circle {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 0.5s ease, background-color 0.5s ease;
    background-color: transparent;
    margin: 2px;
}

.circle img {
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease;
}


.circle-description {
    display: none;
    position: absolute;
    width: 55%;
    left: 50%;
    transform: translateX(-50%) rotateY(180deg);
    color: white;
    text-align: center;
    z-index: 1;
    font-size: 14px;
    margin: 0;
    line-height: 1.4;
}

.circle:hover {
    background-color: #b5945a;
    transform: rotateY(180deg);
}

.circle:hover img {
    opacity: 0;
}

.circle:hover .circle-text {
    display: none;
}

.circle:hover .circle-description {
    display: block;
    transform: translateX(-50%) rotateY(180deg);
}


/* Estilo para la sección del mapa */

.map-section {
    padding: 30px 0;
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-container {
    width: 100%;
    height: 300px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.info-box {
    padding: 20px;
}

.p-mapa {
    font-size: 18px;
    color: #a51916;

}

@media (max-width: 768px) {
    .map-container {
        height: 200px;
        /* Reduce la altura en pantallas más pequeñas */
    }
}


/*Historia*/
.historia-section-unique {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.historia-image-unique img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.historia-cards-container-unique {
    position: relative;
    top: -150px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}


.historia-cards-unique {
    display: flex;
    justify-content: center;
    gap: 160px;

}

.card-unique {
    background-color: #b5945a;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.historia-titulo {
    font-family: 'Auromiya', sans-serif !important;
    color: white;
}

.text-card-historia {
    color: white;
    font-size: 16px;
}


@media (max-width: 768px) {
    .historia-cards-unique {
        flex-direction: column;
        width: 90%;
    }

    .card-unique {
        max-width: 100%;
        margin-bottom: 10px;
    }
}

@media (min-width: 769px) {
    .text-p-card {
        margin-top: 43px;
        /* Ajusta este valor según lo que necesites */
        /* O puedes usar padding en lugar de margin, dependiendo de tu diseño */
        /* padding-top: 20px; */
    }
}


/* CARDS */
.seccion-4card {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 6rem;
    height: 70vh;
}

.card{
    perspective: 1000px;
    border: none!important
}

.card-inner {
    position: relative;
    width: 100%; 
    height: 100%; 
    transition: transform 0.5s; 
    transform-style: preserve-3d; 
}

.img-card-historia {
    display: block;
    width: 100%;
    transition: opacity 0.6s ease-in-out; 
    backface-visibility: hidden;
}

.card-description-historia {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%) rotateY(180deg); 
    color: white; 
    font-size: 14px; 
    text-align: center; 
    z-index: 1;
    backface-visibility: hidden; 
    background-color: #ac9664; 
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.card:hover .card-inner {
    transform: rotateY(180deg); 
}

.card:hover .img-card {
    opacity: 0; 
}

.card:hover .card-description {
    display: block; 
}


/* Arquitectura */
.text-image-section {
    background-color: #a51916;
    height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
}

.arquitectura-titulo {
    font-family: 'Auromiya', sans-serif !important;
    color: white;
}

.p-arquitectura {
    color: white;
}

/*SECCION ARTE*/
.arte {
    background-color: #b5945a;
    position: relative;
    z-index: 2;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-bottom: 2rem;
    height: 80vh; /* 80% de la altura de la pantalla */
}

.card-arte {
    width: 100%;
    height: 100%; /* Para que las tarjetas también se ajusten */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 20px;
    padding: 1rem;
}

.img-card {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
}

.text-card {
    color: white;
    text-align: center;
}

.p-card-arte {
    font-size: 12px;
}

.titulo-card {
    font-size: 1.2rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    .arte {
        height: auto; /* Se ajusta la altura en pantallas pequeñas */
        padding-top: 2rem;
    }

    .card-arte {
        height: auto; /* Ajusta la altura de las tarjetas en pantallas pequeñas */
    }
}


/*Atracciones*/
.atracciones{
    background-color: #a51916;
    width: 100%;
    height: 85vh;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.titulo-atracciones{
    width: 800px;
}

/* Carrousel */
.carousel-item {
    display: flex; 
    justify-content: center;
}

.carousel-item img {
    width: 250px;
}

.image-container-1,
.image-container-2,
.image-container-3,
.image-container-4,
.image-container-5,
.image-container-6,
.image-container-7,
.image-container-8 {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    padding: 0 8px 0 8px;
}

.texto-carousel-1,
.texto-carousel-2,
.texto-carousel-3,
.texto-carousel-4,
.texto-carousel-5,
.texto-carousel-6,
.texto-carousel-7,
.texto-carousel-8 {
    background-color: white;
    width: 250px;
    height: 150px;
    padding: 5px;
}

.title-1,
.title-2,
.title-3,
.title-4,
.title-5,
.title-6,
.title-7,
.title-8,
.subtitle-1,
.subtitle-2,
.subtitle-3,
.subtitle-4,
.subtitle-5,
.subtitle-6,
.subtitle-7,
.subtitle-8 {
    margin: 10px 0; 
}

.title-1,
.title-2,
.title-3,
.title-4,
.title-5,
.title-6,
.title-7,
.title-8 {
    font-size: 15px; 
    font-weight: bold; 
}

.subtitle-1,
.subtitle-2,
.subtitle-3,
.subtitle-4,
.subtitle-5,
.subtitle-6,
.subtitle-7,
.subtitle-8 {
    font-size: 0.875rem; 
    color: #474747; 
}

/*kahoot*/
.contenedor-kahoot{
    width: 100%;
}
.fondo-img-juga {
    position: relative;

}

.fondo-img-juga::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%; 
    background-color: #a51916; 
    z-index: 1; 
}

.img-juga {
    width: 450px;
    padding-left: 5rem;
    position: relative;
    z-index: 2; 
}

.col-info-kahoot{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    padding: 3rem;
}

.col-img-kahoot{
    
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    justify-content: start;
}
.img-kahoot{
    width: 400px;
    z-index: 2; 
}

.texto-kahoot{
    color: #51197e;
}
.texto-p-kahoot{
    font-size: 22px;
    width: 290px;
    text-align: center;
}

.button-jugar{
    background-color: #b5945a;
    padding: 5px 25px 5px 25px;
    color: white;
    border-radius: 10px;
    border: white;
}

/* Estilo del footer */
.footer {
    background-color: #a51916;
    color: white;
}

.footer .left-footer {
    text-align: left;
}

.footer .right-footer {
    display: flex;
    gap: 15px;
    font-size: 24px;
}

.social-icon:hover {
    color: #fff;
    transform: scale(1.1);
    transition: transform 0.3s;
}